body {
    font-family: 'Open Sans', sans-serif;
    background: url('../images/bg.jpg');
    background-size: cover;
}
#wrapper {
    max-width: 600px;
    margin:25px auto 25px;
    background: white;
    border-radius: 5px;
}
#wrapper .navbar {
    margin-bottom: 0;
}
#wrapper .navbar-default li a {
    color: #ffffff;
}
#wrapper .list-group a {
    font-size: 16px;
    color: #6f4e37 !important;
}
#wrapper .list-group .list-group-item:hover {
    background: #f8f5f0;
    cursor: pointer;
}
#wrapper .label-default {
    color: #555555 !important;
    background: #cccccc;
}
#wrapper .input-group-addon {
    cursor: pointer;
}
