{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Greedy Music</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/sandstone/bootstrap.min.css" rel="stylesheet" integrity="sha384-G3G7OsJCbOk1USkOY4RfeX1z27YaWrZ1YuaQ5tbuawed9IoreRDpWpTkZLXQfPm3" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'app/css/main.css' %}">
</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-default">
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'app:track-list' %}">Greedy Music</a>
            </div>
            
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{% url 'app:track-list' %}">Tracks</a></li>
                    <li><a href="{% url 'app:genre-list' %}">Genres</a></li>
                </ul>
            </div>
        </nav>

        <div class="container-fluid">
            {% block content %}
            {% endblock %}
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="{% static 'app/js/main.js' %}"></script>
</body>
</html>