{% extends 'app/base.html' %}
{% load widget_tweaks %}

{% block content %}

<h3 align="center">Genre Details</h3>

<table class="table table-hover">
    <tbody>
        <tr>
            <th>Name</th>
            <td>{{ object.name }}</td>
        </tr>
        <tr>
            <th>Last Modified</th>
            <td>{{ genre.date_modified }}</td>
        </tr>
    </tbody>
</table>

<p class="text-center">
    <a class="btn btn-default" href="{% url 'app:genre-update' object.pk %}"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit Genre</a>
</p>


{% endblock %}
