{% extends 'app/base.html' %}
{% load app_extras %}

{% block content %}
    <h3 align="center">Music Tracks</h3>

    <form>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></div>
                <input type="text" class="form-control" id="exampleInputAmount" placeholder="Search Title">
            </div>
        </div>
    </form>

    <div class="list-group">
        {% for track in object_list %}
            <div class="list-group-item">
                <div class="row">
                    <div class="col-md-8">
                        <a href="{% url 'app:track-detail' track.pk %}">{{ track.title }}</a>
                        {% for genre in track.genres.all %}
                            <span class="label label-default"><small>{{ genre.name }}</small></span>
                        {% endfor %}
                    </div>
                    <div class="col-md-4 text-right">
                        {% rating_display_tag track.rating %}
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>
    
    <p class="text-center">
        <a class="btn btn-default" href="{% url 'app:track-create' %}" role="button"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add New Track</a>
    </p>

    <nav class="text-center" aria-label="Page navigation">
      <ul class="pagination">
        <li>
          <a href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li><a href="#">Page 1</a></li>
        <li><a href="#">Page 2</a></li>
        <li><a href="#">Page 3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li>
          <a href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
    

{% endblock %}